<h1>New Finance Entry</h1>

<%= form_with model: @finance do |form| %>
  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>
  
  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.label :branch_id, "Branch" %>
    <%= form.collection_select :branch_id, Branch.all, :id, :name, prompt: true %>
  </div>
  
  <%= form.submit %>
<% end %>
