<h1>New Church</h1>

<%= form_with model: @church do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  
  <%= form.submit %>
<% end %>
